openapi: 3.0.1
info:
  title: current-accountv2
  description: It orchestrates a consumer checking/demand deposit account.
  version: 2.0.0
servers:
- url: https://bianorg.azure-api.net/sd-current-account/current-accountv2
security:
- apiKeyHeader: []
paths:
  /current-account/activationx:
    post:
      tags:
      - activate
      summary: Activate  a SDCurrentAccount servicing session
      description: Activate  a  SDCurrentAccount servicing session
      operationId: activateSDCurrentAccount
      requestBody:
        description: SDCurrentAccount Request Payload
        content:
          '*/*':
            schema:
              type: object
              properties:
                serviceDomainActivationActionTaskRecord:
                  type: object
                  properties: {}
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The activation service call consolidated processing record
                serviceDomainCenterReference:
                  type: string
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the service center/operational unit
                  example: SCR793499
                serviceDomainServiceReference:
                  type: string
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to a service offered by the service center
                  example: CPASSR703914
                serviceDomainServiceConfigurationRecord:
                  type: object
                  properties:
                    serviceDomainServiceConfigurationSettingReference:
                      type: string
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                         general-info: Refers to the service configuration parameter for the service
                      example: "700761"
                    serviceDomainServiceConfigurationSettingType:
                      type: string
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                         general-info: The type of service configuration parameter
                    serviceDomainServiceConfigurationSetup:
                      type: object
                      properties:
                        serviceDomainServiceConfigurationParameter:
                          type: string
                          description: "`status: Not Mapped`\n core-data-type-reference:\
                            \ BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text\n\
                            \ general-info: The default activation setting for the\
                            \ offered service configuration parameter \n"
        required: true
      responses:
        201:
          description: Successful Service Activation
          content:
            application/json:
              schema:
                type: object
                properties:
                  serviceDomainActivationActionTaskReference:
                    type: string
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                       general-info: Reference to a service activation service call
                    example: SAATR758836
                  serviceDomainActivationActionTaskRecord:
                    type: object
                    properties: {}
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                       general-info: The activation service call consolidated processing record
                  serviceDomainServicingSessionReference:
                    type: string
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                       general-info: Reference to the active servicing session
                    example: SSSR783215
                  serviceDomainServicingSessionRecord:
                    type: object
                    properties: {}
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                       general-info: Consolidated information record for the servicing session
                  serviceDomainServiceConfigurationRecord:
                    type: object
                    properties:
                      serviceDomainServiceConfigurationSettingReference:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                           general-info: Refers to the service configuration parameter for the service
                        example: "700761"
                      serviceDomainServiceConfigurationSettingDescription:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: Description of the configuration parameter, allowed values and processing impact
                      serviceDomainServiceConfigurationSetup:
                        type: object
                        properties:
                          serviceDomainServiceConfigurationParameter:
                            type: string
                            description: "`status: Not Mapped`\n core-data-type-reference:\
                              \ BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text\n\
                              \ general-info: The default activation setting for the\
                              \ offered service configuration parameter \n"
                      serviceDomainServiceSubscription:
                        type: object
                        properties:
                          serviceDomainServiceSubscriberReference:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                               general-info: Maintains reference to allowed users or subscribers to the service which can be any known party
                            example: "769192"
                          serviceDomainServiceSubscriberAccessProfile:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: The allowed service access for a user or subscriber to the service which can be any known party
                      serviceDomainServiceAgreement:
                        type: object
                        properties:
                          serviceDomainServiceAgreementReference:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                               general-info: Reference to the offered service agreement
                            example: "791202"
                          serviceDomainServiceUserReference:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                               general-info: Reference to the user covered by the contract
                            example: "767210"
                          serviceDomainServiceAgreementTermsandConditions:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: Terms and conditions covering the service agreement
                      serviceDomainServiceStatus:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The status of the offered service (e.g. active, suspended, idle)
                  serviceDomainServicingSessionStatus:
                    type: string
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                       general-info: The current operating status of the overall servicing session
      x-codegen-request-body-name: body
  /current-account/{sd-reference-id}/configuration:
    put:
      tags:
      - configure
      summary: Update an active SDCurrentAccount session configuration
      description: Update an active SDCurrentAccount session configuration
      operationId: configureSDCurrentAccount
      parameters:
      - name: sd-reference-id
        in: path
        description: SDCurrentAccount Servicing Session Reference
        required: true
        schema:
          type: string
      requestBody:
        description: SDCurrentAccount Configure Request Payload
        content:
          '*/*':
            schema:
              type: object
              properties:
                serviceDomainConfigurationActionTaskRecord:
                  type: object
                  properties: {}
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The configuration service call consolidated processing record
                serviceDomainServicingSessionReference:
                  type: string
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the active servicing session
                  example: SSSR764367
                serviceDomainServiceReference:
                  type: string
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to a service offered by the service center
                  example: CPASSR744740
                serviceDomainServiceConfigurationRecord:
                  type: object
                  properties:
                    serviceDomainServiceConfigurationSettingReference:
                      type: string
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                         general-info: Refers to the service configuration parameter for the service
                      example: "710630"
                    serviceDomainServiceConfigurationSettingType:
                      type: string
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                         general-info: The type of service configuration parameter
                    serviceDomainServiceConfigurationSetup:
                      type: object
                      properties:
                        serviceDomainServiceConfigurationParameter:
                          type: string
                          description: "`status: Not Mapped`\n core-data-type-reference:\
                            \ BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text\n\
                            \ general-info: The requested and current activation values\
                            \ for the service configuration parameter \n"
                    serviceDomainServiceSubscription:
                      type: object
                      properties:
                        serviceDomainServiceSubscriberReference:
                          type: string
                          description: |
                            `status: Not Mapped`
                             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                             general-info: Maintains reference to allowed users or subscribers to the service which can be any known party
                          example: "756221"
                        serviceDomainServiceSubscriberAccessProfile:
                          type: string
                          description: |
                            `status: Not Mapped`
                             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                             general-info: The allowed service access for a user or subscriber to the service which can be any known party
                    serviceDomainServiceAgreement:
                      type: object
                      properties:
                        serviceDomainServiceAgreementReference:
                          type: string
                          description: |
                            `status: Not Mapped`
                             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                             general-info: Reference to the offered service agreement
                          example: "721156"
                        serviceDomainServiceUserReference:
                          type: string
                          description: |
                            `status: Not Mapped`
                             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                             general-info: Reference to the user covered by the contract
                          example: "733696"
                        serviceDomainServiceAgreementTermsandConditions:
                          type: string
                          description: |
                            `status: Not Mapped`
                             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                             general-info: Terms and conditions covering the service agreement
        required: true
      responses:
        200:
          description: Successful Service Configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  serviceDomainConfigurationActionTaskReference:
                    type: string
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                       general-info: Reference to a service configuration service call
                    example: SCATR765419
                  serviceDomainConfigurationActionTaskRecord:
                    type: object
                    properties: {}
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                       general-info: The configuration service call consolidated processing record
                  serviceDomainServiceConfigurationRecord:
                    type: object
                    properties:
                      serviceDomainServiceConfigurationSettingDescription:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: Description of the configuration parameter, allowed values and processing impact
                      serviceDomainServiceConfigurationSetup:
                        type: object
                        properties:
                          serviceDomainServiceConfigurationParameter:
                            type: string
                            description: "`status: Not Mapped`\n core-data-type-reference:\
                              \ BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text\n\
                              \ general-info: The requested and current activation\
                              \ values for the service configuration parameter \n"
                      serviceDomainServiceSubscription:
                        type: object
                        properties:
                          serviceDomainServiceSubscriberReference:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                               general-info: Maintains reference to allowed users or subscribers to the service which can be any known party
                            example: "756221"
                          serviceDomainServiceSubscriberAccessProfile:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: The allowed service access for a user or subscriber to the service which can be any known party
                      serviceDomainServiceAgreement:
                        type: object
                        properties:
                          serviceDomainServiceAgreementReference:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                               general-info: Reference to the offered service agreement
                            example: "721156"
                          serviceDomainServiceUserReference:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                               general-info: Reference to the user covered by the contract
                            example: "733696"
                          serviceDomainServiceAgreementTermsandConditions:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: Terms and conditions covering the service agreement
                      serviceDomainServiceStatus:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The status of the offered service (e.g. active, suspended, idle)
                  serviceDomainServicingSessionStatus:
                    type: string
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                       general-info: The current operating status of the overall servicing session
      x-codegen-request-body-name: body
  /current-account/{sd-reference-id}/feedback:
    put:
      tags:
      - feedback
      summary: 'Capturing feedback against the SDCurrentAccount service that can target
        different levels of detail: SD/CR/BQ'
      description: 'Capturing feedback against the SDCurrentAccount service that can
        target different levels of detail: SD/CR/BQ'
      operationId: feedbackSDCurrentAccount
      parameters:
      - name: sd-reference-id
        in: path
        description: SDCurrentAccount Servicing Session Reference
        required: true
        schema:
          type: string
      requestBody:
        description: SDCurrentAccount Feedback Request Payload
        content:
          '*/*':
            schema:
              type: object
              properties:
                serviceDomainFeedbackActionTaskRecord:
                  type: object
                  properties: {}
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The feedback service call consolidated processing record
                serviceDomainFeedbackActionRecord:
                  type: object
                  properties:
                    serviceDomainServicingSessionReference:
                      type: string
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                         general-info: Reference to the active servicing session
                      example: "796678"
                    controlRecordInstanceReference:
                      type: string
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                         general-info: Reference to the control record instance if appropriate
                      example: "724385"
                    behaviorQualifierInstanceReference:
                      type: string
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                         general-info: Reference to the behavior qualifier instance if appropriate
                      example: "789747"
                    feedbackRecordType:
                      type: string
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                         general-info: The layout/type of the feedback provided
                    feedbackRecord:
                      type: object
                      properties: {}
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                         general-info: The content of the feedback in any suitable format and media
        required: true
      responses:
        200:
          description: Successful Service Feedback
          content:
            application/json:
              schema:
                type: object
                properties:
                  serviceDomainFeedbackActionTaskReference:
                    type: string
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                       general-info: Reference to a feedback service call
                    example: SFATR765157
                  serviceDomainFeedbackActionTaskRecord:
                    type: object
                    properties: {}
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                       general-info: The feedback service call consolidated processing record
                  serviceDomainFeedbackActionRecord:
                    type: object
                    properties:
                      feedbackRecordDateTime:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::DateTime
                           general-info: The date/time the feedback submitted for consideration
                        example: 09-22-2018
                      feedbackRecordStatus:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The status of processing the feedback e.g. received, considered, responded to
                      employeeBusinessUnitReference:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                           general-info: Reference to business unit/employee responsible for handling feedback
                        example: "769031"
      x-codegen-request-body-name: body
  /current-account/{sd-reference-id}:
    get:
      tags:
      - retrieve
      summary: Analytical views maintained by the SDCurrentAccount service center
        for management reporting and analysis purposes
      description: Analytical views maintained by the SDCurrentAccount service center
        for management reporting and analysis purposes
      operationId: retrieveSDCurrentAccount
      parameters:
      - name: sd-reference-id
        in: path
        description: SDCurrentAccount Servicing Session Reference
        required: true
        schema:
          type: string
      - name: queryparams
        in: query
        description: Query params from schema '#/definitions/SDCurrentAccountRetrieveInputModel'
        schema:
          type: string
      responses:
        200:
          description: Successful Service Retrieve
          content:
            application/json:
              schema:
                type: object
                properties:
                  serviceDomainRetrieveActionTaskReference:
                    type: string
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                       general-info: Reference to a retrieve service call
                    example: SRATR795161
                  serviceDomainRetrieveActionTaskRecord:
                    type: object
                    properties: {}
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                       general-info: The retrieve service call consolidated processing record
                  serviceDomainRetrieveActionResponse:
                    type: string
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                       general-info: Details of the retrieve action service response (lists returned reports)
                  serviceDomainRetrieveActionRecord:
                    type: object
                    properties:
                      serviceDomainActivityAnalysis:
                        type: object
                        properties:
                          activityAnalysisReference:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                               general-info: Reference to the internal activity analysis view maintained by the service center
                            example: "730230"
                          activityAnalysisResult:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: The results of the activity analysis that can be on-going, periodic and actual and projected
                          activityAnalysisReportType:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Code
                               general-info: The type of activity analysis report available
                          activityAnalysisReport:
                            type: object
                            properties: {}
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                               general-info: The activity analysis report in any suitable form including selection filters where appropriate
                      serviceDomainPerformanceAnalysis:
                        type: object
                        properties:
                          performanceAnalysisReference:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                               general-info: Reference to the internal performance analysis view maintained by the service center
                            example: "761670"
                          performanceAnalysisResult:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: The results of the performance analysis that can be on-going or periodic
                          performanceAnalysisReportType:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Code
                               general-info: The type of performance analysis report available
                          performanceAnalysisReport:
                            type: object
                            properties: {}
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                               general-info: The performance analysis report in any suitable form including selection filters where appropriate
                      controlRecordPortfolioAnalysis:
                        type: object
                        properties:
                          controlRecordPortfolioAnalysisReference:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                               general-info: Reference to the control record portfolio analysis view maintained by the service center
                            example: "739764"
                          controlRecordPortfolioAnalysisResult:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: The results of the portfolio analysis that can be on-going, periodic and actual and projected (can be unstructured data)
                          controlRecordPortfolioAnalysisReportType:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Code
                               general-info: The type of external portfolio analysis report available
                          controlRecordAnalysisReport:
                            type: object
                            properties: {}
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                               general-info: The external analysis report in any suitable form including selection filters where appropriate
                  serviceDomainOfferedService:
                    type: object
                    properties:
                      serviceDomainServiceReference:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                           general-info: Reference to a service offered by the service center
                        example: "776158"
                      serviceDomainServiceRecord:
                        type: object
                        properties:
                          serviceDomainServiceType:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: Refers to the different types of services offered
                          serviceDomainServiceVersion:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: The version details of the service when appropriate
                          serviceDomainServiceDescription:
                            type: string
                            description: "`status: Not Mapped`\n core-data-type-reference:\
                              \ BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text\n\
                              \ general-info: Description of the offered service \n"
                          serviceDomainServicePoliciesandGuidelines:
                            type: object
                            properties:
                              serviceDomainServiceEligibility:
                                type: string
                                description: |
                                  `status: Not Mapped`
                                   core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                                   general-info: Policies and rules governing access to the offered service, includes eligibility and qualifications
                              serviceDomainServiceIntendedUses:
                                type: string
                                description: |
                                  `status: Not Mapped`
                                   core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                                   general-info: Guidelines covering allowed, intended use of the service
                              serviceDomainServicePricingandTerms:
                                type: string
                                description: |
                                  `status: Not Mapped`
                                   core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                                   general-info: Terms, prices, penalties associated with use of the service
                          serviceDomainServiceSchedule:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: Schedule defining when the accessed service is available
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/initiation:
    post:
      tags:
      - initiate
      summary: Details of a new CurrentAccountFulfillmentArrangement instance
      description: Initiate A new Current Account
      operationId: initiateCurrentAccountFulfillmentArrangement
      parameters:
      - name: sd-reference-id
        in: path
        description: Current Account Servicing Session Reference
        required: true
        schema:
          type: string
      requestBody:
        description: CurrentAccountFulfillmentArrangement Request Payload
        content:
          '*/*':
            schema:
              type: object
              properties:
                currentAccountServicingSessionReference:
                  type: string
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the active servicing session
                  example: CASSR739654
                currentAccountFulfillmentArrangementInitiateActionRecord:
                  type: object
                  properties: {}
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The Initiate service call input and output record
                currentAccountFulfillmentArrangementInstanceStatus:
                  type: string
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                     general-info: The status of the Current Account Fulfillment Arrangement instance (e.g. initialised, pending, active)
                currentAccountFulfillmentArrangementInstanceRecord:
                  type: object
                  properties:
                    customerReference:
                      type: string
                      description: |
                        `status: Registered`
                         iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_EysE9cTGEeChad0JzLk7QA_-200588046
                         bian-reference: CurrentAccount (as Account).AccountInvolvement (as AccountOwner)
                         general-info: Reference to the account primary party/owner
                      example: "791657"
                    bankBranchLocationReference:
                      type: string
                      description: |
                        `status: Registered`
                         iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_FNqJt8TGEeChad0JzLk7QA_-1317971633/elements/_z2I6YGx5EeKmZJ0Ago--9g_239738909
                         bian-reference: CurrentAccount (as Account).AccountInvolvement (as AccountServicer). PartyRole.Party.Location
                         general-info: Bank branch associated with the account for booking purposes
                      example: "722875"
                    accountType:
                      type: string
                      description: |
                        `status: Registered`
                         iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_7CvjsPj5EeG2rK1g72xi7Q_-843966450
                         bian-reference: CurrentAccount (as Account).AccountType
                         general-info: The type of current account (e.g. checking, student, small business)
                    accountCurrency:
                      type: string
                      description: |
                        `status: Registered`
                         iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_-69C4IDWEeKn8fN1QdMTXQ_-145666344
                         bian-reference: CurrentAccount (as Account).AccountBaseCurrency
                         general-info: The primary account currency
                      example: USD
                    taxReference:
                      type: string
                      description: |
                        `status: Registered`
                         iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E4gZEcTGEeChad0JzLk7QA_2010102987/elements/__-5BiGIiEeGD28DQaMef-g
                         bian-reference: CurrentAccountAgreement (as Agreement). RuleSetAsRegulation
                         general-info: Reference identifier linking the account to appropriate tax handling
                      example: "708210"
                    entitlementOptionSetting:
                      type: string
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                         general-info: The setting for the entitlement option
                    restrictionOptionSetting:
                      type: string
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                         general-info: The setting for the restriction option
                    associations:
                      type: object
                      properties:
                        associationType:
                          type: string
                          description: |
                            general-info: The type of association (e.g. guarantor, co-signer)
                        associationObligationEntitlement:
                          type: string
                          description: |
                            `status: Not Mapped`
                             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                             general-info: Description of the role, obligations or entitlements of the associated party
                        associationReference:
                          type: string
                          description: |
                            `status: Registered`
                             iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E10RccTGEeChad0JzLk7QA_1392095805
                             bian-reference: CurrentAccountAgreement (as Agreement).AgreementInvolvement
                             general-info: Reference to the associated party
                          example: "738248"
                    linkedAccounts:
                      type: object
                      properties:
                        linkType:
                          type: string
                          description: |
                            `status: Registered`
                             iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_7CvjsPj5EeG2rK1g72xi7Q_-843966450
                             bian-reference: CurrentAccount (as Account).AccountType
                             general-info: The type and purpose for the link
                        accountDetails:
                          type: string
                          description: |
                            `status: Registered`
                             iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E10RcsTGEeChad0JzLk7QA_-1441245060
                             bian-reference: CurrentAccount (as Account).AccountDescription
                             general-info: Details of the linked account
                    positionLimits:
                      type: object
                      properties:
                        positionLimitSettings:
                          type: string
                          description: |
                            `status: Not Mapped`
                             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                             general-info: The position definition, associated limit settings and rules
                    dateType:
                      type: object
                      properties:
                        date:
                          type: string
                          description: |
                            `status: Registered`
                             iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E_9E5sTGEeChad0JzLk7QA_-1723898882
                             bian-reference: CurrentAccount (as Account).AccountDate
                            `status: Not Mapped`
                             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::DateTime
                             general-info: Value of the date type
                          example: 09-22-2018
        required: true
      responses:
        201:
          description: Successful initiation of new CurrentAccountFulfillmentArrangement
            instance
          content:
            application/json:
              schema:
                type: object
                properties:
                  currentAccountFulfillmentArrangementInstanceReference:
                    type: string
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                       general-info: Reference to the Current Account Fulfillment Arrangement instance
                    example: CAFAIR796897
                  currentAccountFulfillmentArrangementInitiateActionReference:
                    type: string
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                       general-info: Reference to an Initiate service call
                    example: CAFAIAR775759
                  currentAccountFulfillmentArrangementInitiateActionRecord:
                    type: object
                    properties: {}
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                       general-info: The Initiate service call input and output record
                  currentAccountFulfillmentArrangementInstanceStatus:
                    type: string
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                       general-info: The status of the Current Account Fulfillment Arrangement instance (e.g. initialised, pending, active)
                  currentAccountFulfillmentArrangementInstanceRecord:
                    type: object
                    properties:
                      productInstanceReference:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                           general-info: Reference to the current account product instance
                        example: "720007"
                      currentAccountNumber:
                        type: string
                        description: |
                          `status: Registered`
                           iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E1rHhcTGEeChad0JzLk7QA_-755813725
                           bian-reference: CurrentAccount (as Account).AccountIdentification
                           general-info: The associated account number in any suitable format (e.g. IBAN)
                      accountCurrency:
                        type: string
                        description: |
                          `status: Registered`
                           iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_-69C4IDWEeKn8fN1QdMTXQ_-145666344
                           bian-reference: CurrentAccount (as Account).AccountBaseCurrency
                           general-info: The primary account currency
                        example: USD
                      entitlementOptionDefinition:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The definition of an applicable entitlement option
                      entitlementOptionSetting:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The setting for the entitlement option
                      restrictionOptionDefinition:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The definition of an applicable restriction option
                      restrictionOptionSetting:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The setting for the restriction option
                      positionLimits:
                        type: object
                        properties:
                          positionLimitType:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: The type of position maintained for the account (e.g. transaction credit/debit, netting, position)
                          positionLimitSettings:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: The position definition, associated limit settings and rules
                          positionLimitValue:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: The current calculated position
                      dateType:
                        type: object
                        properties:
                          date:
                            type: string
                            description: |
                              `status: Registered`
                               iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E_9E5sTGEeChad0JzLk7QA_-1723898882
                               bian-reference: CurrentAccount (as Account).AccountDate
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::DateTime
                               general-info: Value of the date type
                            example: 09-22-2018
      x-codegen-request-body-name: body
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/update:
    put:
      tags:
      - update
      summary: Update to any amendable fields of the CurrentAccountFulfillmentArrangement
        instance
      description: Update properties of an active current account
      operationId: updateCurrentAccountFulfillmentArrangement
      parameters:
      - name: sd-reference-id
        in: path
        description: Current Account Servicing Session Reference
        required: true
        schema:
          type: string
      - name: cr-reference-id
        in: path
        description: Current Account Fulfillment Arrangement Instance Reference
        required: true
        schema:
          type: string
      requestBody:
        description: Current Account Fulfillment Arrangement Request Payload
        content:
          '*/*':
            schema:
              type: object
              properties:
                currentAccountServicingSessionReference:
                  type: string
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the active servicing session
                  example: CASSR784968
                currentAccountFulfillmentArrangementInstanceReference:
                  type: string
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the Current Account Fulfillment Arrangement instance
                  example: CAFAIR735254
                currentAccountFulfillmentArrangementInstanceRecord:
                  type: object
                  properties:
                    productInstanceReference:
                      type: string
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                         general-info: Reference to the current account product instance
                      example: "757796"
                    currentAccountNumber:
                      type: string
                      description: |
                        `status: Registered`
                         iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E1rHhcTGEeChad0JzLk7QA_-755813725
                         bian-reference: CurrentAccount (as Account).AccountIdentification
                         general-info: The associated account number in any suitable format (e.g. IBAN)
                    customerReference:
                      type: string
                      description: |
                        `status: Registered`
                         iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_EysE9cTGEeChad0JzLk7QA_-200588046
                         bian-reference: CurrentAccount (as Account).AccountInvolvement (as AccountOwner)
                         general-info: Reference to the account primary party/owner
                      example: "723910"
                    bankBranchLocationReference:
                      type: string
                      description: |
                        `status: Registered`
                         iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_FNqJt8TGEeChad0JzLk7QA_-1317971633/elements/_z2I6YGx5EeKmZJ0Ago--9g_239738909
                         bian-reference: CurrentAccount (as Account).AccountInvolvement (as AccountServicer). PartyRole.Party.Location
                         general-info: Bank branch associated with the account for booking purposes
                      example: "736534"
                    accountType:
                      type: string
                      description: |
                        `status: Registered`
                         iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_7CvjsPj5EeG2rK1g72xi7Q_-843966450
                         bian-reference: CurrentAccount (as Account).AccountType
                         general-info: The type of current account (e.g. checking, student, small business)
                    accountCurrency:
                      type: string
                      description: |
                        `status: Registered`
                         iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_-69C4IDWEeKn8fN1QdMTXQ_-145666344
                         bian-reference: CurrentAccount (as Account).AccountBaseCurrency
                         general-info: The primary account currency
                      example: USD
                    taxReference:
                      type: string
                      description: |
                        `status: Registered`
                         iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E4gZEcTGEeChad0JzLk7QA_2010102987/elements/__-5BiGIiEeGD28DQaMef-g
                         bian-reference: CurrentAccountAgreement (as Agreement). RuleSetAsRegulation
                         general-info: Reference identifier linking the account to appropriate tax handling
                      example: "726005"
                    entitlementOptionDefinition:
                      type: string
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                         general-info: The definition of an applicable entitlement option
                    entitlementOptionSetting:
                      type: string
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                         general-info: The setting for the entitlement option
                    restrictionOptionDefinition:
                      type: string
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                         general-info: The definition of an applicable restriction option
                    restrictionOptionSetting:
                      type: string
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                         general-info: The setting for the restriction option
                    associations:
                      type: object
                      properties:
                        associationType:
                          type: string
                          description: |
                            general-info: The type of association (e.g. guarantor, co-signer)
                        associationObligationEntitlement:
                          type: string
                          description: |
                            `status: Not Mapped`
                             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                             general-info: Description of the role, obligations or entitlements of the associated party
                        associationReference:
                          type: string
                          description: |
                            `status: Registered`
                             iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E10RccTGEeChad0JzLk7QA_1392095805
                             bian-reference: CurrentAccountAgreement (as Agreement).AgreementInvolvement
                             general-info: Reference to the associated party
                          example: "773866"
                    linkedAccounts:
                      type: object
                      properties:
                        linkType:
                          type: string
                          description: |
                            `status: Registered`
                             iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_7CvjsPj5EeG2rK1g72xi7Q_-843966450
                             bian-reference: CurrentAccount (as Account).AccountType
                             general-info: The type and purpose for the link
                        accountDetails:
                          type: string
                          description: |
                            `status: Registered`
                             iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E10RcsTGEeChad0JzLk7QA_-1441245060
                             bian-reference: CurrentAccount (as Account).AccountDescription
                             general-info: Details of the linked account
                    positionLimits:
                      type: object
                      properties:
                        positionLimitType:
                          type: string
                          description: |
                            `status: Not Mapped`
                             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                             general-info: The type of position maintained for the account (e.g. transaction credit/debit, netting, position)
                        positionLimitSettings:
                          type: string
                          description: |
                            `status: Not Mapped`
                             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                             general-info: The position definition, associated limit settings and rules
                        positionLimitValue:
                          type: string
                          description: |
                            `status: Not Mapped`
                             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                             general-info: The current calculated position
                    dateType:
                      type: object
                      properties:
                        date:
                          type: string
                          description: |
                            `status: Registered`
                             iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E_9E5sTGEeChad0JzLk7QA_-1723898882
                             bian-reference: CurrentAccount (as Account).AccountDate
                            `status: Not Mapped`
                             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::DateTime
                             general-info: Value of the date type
                          example: 09-22-2018
                currentAccountFulfillmentArrangementUpdateActionTaskRecord:
                  type: object
                  properties: {}
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The update service call consolidated processing record
                updateActionRequest:
                  type: string
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                     general-info: Details of the update action service request
        required: true
      responses:
        200:
          description: Successfully Updated Current Account Fulfillment Arrangement
            Instance
          content:
            application/json:
              schema:
                type: object
                properties:
                  currentAccountFulfillmentArrangementInstanceRecord:
                    type: object
                    properties:
                      productInstanceReference:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                           general-info: Reference to the current account product instance
                        example: "757796"
                      currentAccountNumber:
                        type: string
                        description: |
                          `status: Registered`
                           iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E1rHhcTGEeChad0JzLk7QA_-755813725
                           bian-reference: CurrentAccount (as Account).AccountIdentification
                           general-info: The associated account number in any suitable format (e.g. IBAN)
                      customerReference:
                        type: string
                        description: |
                          `status: Registered`
                           iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_EysE9cTGEeChad0JzLk7QA_-200588046
                           bian-reference: CurrentAccount (as Account).AccountInvolvement (as AccountOwner)
                           general-info: Reference to the account primary party/owner
                        example: "723910"
                      bankBranchLocationReference:
                        type: string
                        description: |
                          `status: Registered`
                           iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_FNqJt8TGEeChad0JzLk7QA_-1317971633/elements/_z2I6YGx5EeKmZJ0Ago--9g_239738909
                           bian-reference: CurrentAccount (as Account).AccountInvolvement (as AccountServicer). PartyRole.Party.Location
                           general-info: Bank branch associated with the account for booking purposes
                        example: "736534"
                      accountType:
                        type: string
                        description: |
                          `status: Registered`
                           iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_7CvjsPj5EeG2rK1g72xi7Q_-843966450
                           bian-reference: CurrentAccount (as Account).AccountType
                           general-info: The type of current account (e.g. checking, student, small business)
                      accountCurrency:
                        type: string
                        description: |
                          `status: Registered`
                           iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_-69C4IDWEeKn8fN1QdMTXQ_-145666344
                           bian-reference: CurrentAccount (as Account).AccountBaseCurrency
                           general-info: The primary account currency
                        example: USD
                      taxReference:
                        type: string
                        description: |
                          `status: Registered`
                           iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E4gZEcTGEeChad0JzLk7QA_2010102987/elements/__-5BiGIiEeGD28DQaMef-g
                           bian-reference: CurrentAccountAgreement (as Agreement). RuleSetAsRegulation
                           general-info: Reference identifier linking the account to appropriate tax handling
                        example: "726005"
                      entitlementOptionDefinition:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The definition of an applicable entitlement option
                      entitlementOptionSetting:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The setting for the entitlement option
                      restrictionOptionDefinition:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The definition of an applicable restriction option
                      restrictionOptionSetting:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The setting for the restriction option
                      associations:
                        type: object
                        properties:
                          associationType:
                            type: string
                            description: |
                              general-info: The type of association (e.g. guarantor, co-signer)
                          associationObligationEntitlement:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: Description of the role, obligations or entitlements of the associated party
                          associationReference:
                            type: string
                            description: |
                              `status: Registered`
                               iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E10RccTGEeChad0JzLk7QA_1392095805
                               bian-reference: CurrentAccountAgreement (as Agreement).AgreementInvolvement
                               general-info: Reference to the associated party
                            example: "773866"
                      linkedAccounts:
                        type: object
                        properties:
                          linkType:
                            type: string
                            description: |
                              `status: Registered`
                               iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_7CvjsPj5EeG2rK1g72xi7Q_-843966450
                               bian-reference: CurrentAccount (as Account).AccountType
                               general-info: The type and purpose for the link
                          accountDetails:
                            type: string
                            description: |
                              `status: Registered`
                               iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E10RcsTGEeChad0JzLk7QA_-1441245060
                               bian-reference: CurrentAccount (as Account).AccountDescription
                               general-info: Details of the linked account
                      positionLimits:
                        type: object
                        properties:
                          positionLimitType:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: The type of position maintained for the account (e.g. transaction credit/debit, netting, position)
                          positionLimitSettings:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: The position definition, associated limit settings and rules
                          positionLimitValue:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: The current calculated position
                      dateType:
                        type: object
                        properties:
                          date:
                            type: string
                            description: |
                              `status: Registered`
                               iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E_9E5sTGEeChad0JzLk7QA_-1723898882
                               bian-reference: CurrentAccount (as Account).AccountDate
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::DateTime
                               general-info: Value of the date type
                            example: 09-22-2018
                  currentAccountFulfillmentArrangementUpdateActionTaskReference:
                    type: string
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                       general-info: Reference to an update service call
                    example: CAFAUATR714145
                  currentAccountFulfillmentArrangementUpdateActionTaskRecord:
                    type: object
                    properties: {}
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                       general-info: The update service call consolidated processing record
                  updateResponseRecord:
                    type: object
                    properties: {}
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                       general-info: Details of the Update action service response
      x-codegen-request-body-name: body
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/control:
    put:
      tags:
      - control
      summary: Request specific processing (e.g. suspend, skip, terminate)
      description: Control the processing of an active current account (change processing
        status)
      operationId: controlCurrentAccountFulfillmentArrangementUpdate
      parameters:
      - name: sd-reference-id
        in: path
        description: Current Account Servicing Session Reference
        required: true
        schema:
          type: string
      - name: cr-reference-id
        in: path
        description: Current Account Fulfillment Arrangement Instance Reference
        required: true
        schema:
          type: string
      requestBody:
        description: Current Account Fulfillment Arrangement Request Payload
        content:
          '*/*':
            schema:
              type: object
              properties:
                currentAccountServicingSessionReference:
                  type: string
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the active servicing session
                  example: CASSR762286
                currentAccountFulfillmentArrangementInstanceReference:
                  type: string
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the Current Account Fulfillment Arrangement instance
                  example: CAFAIR757395
                currentAccountFulfillmentArrangementControlActionTaskRecord:
                  type: object
                  properties: {}
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The processing control service call consolidated processing record
                currentAccountFulfillmentArrangementControlActionRequest:
                  type: object
                  properties:
                    controlActionType:
                      type: string
                      description: |
                        `status: Not Mapped`
                         core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                         general-info: The type of processing action requested (e.g. suspend, skip, terminate)
        required: true
      responses:
        200:
          description: Successful control of Current Account Fulfillment Arrangement
            Instance
          content:
            application/json:
              schema:
                type: object
                properties:
                  currentAccountFulfillmentArrangementControlActionTaskReference:
                    type: string
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                       general-info: Reference to a Current Account Fulfillment Arrangement instance control processing service call
                    example: CAFACATR769674
                  currentAccountFulfillmentArrangementControlActionTaskRecord:
                    type: object
                    properties: {}
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                       general-info: The processing control service call consolidated processing record
                  currentAccountFulfillmentArrangementControlActionResponse:
                    type: string
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                       general-info: Details of the control action service response
      x-codegen-request-body-name: body
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}:
    get:
      tags:
      - retrieve
      summary: Invoke a reporting action to obtain a Current Account Fulfillment Arrangement
        instance related report
      description: Retrieve information about a current account - either standard
        canned reports or selected instance attribute values
      operationId: retrieveCurrentAccount
      parameters:
      - name: sd-reference-id
        in: path
        description: Current Account Servicing Session Reference
        required: true
        schema:
          type: string
      - name: cr-reference-id
        in: path
        description: Current Account Fulfillment Arrangement Instance Reference
        required: true
        schema:
          type: string
      - name: queryparams
        in: query
        description: Query params from schema '#/definitions/CRCurrentAccountFulfillmentArrangementRetrieveInputModel'
        schema:
          type: string
      responses:
        200:
          description: Successfully Retrieved Current Account Fulfillment Arrangement
            Instance
          content:
            application/json:
              schema:
                type: object
                properties:
                  currentAccountFulfillmentArrangementInstanceRecord:
                    type: object
                    properties:
                      productInstanceReference:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                           general-info: Reference to the current account product instance
                        example: "721040"
                      currentAccountNumber:
                        type: string
                        description: |
                          `status: Registered`
                           iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E1rHhcTGEeChad0JzLk7QA_-755813725
                           bian-reference: CurrentAccount (as Account).AccountIdentification
                           general-info: The associated account number in any suitable format (e.g. IBAN)
                      customerReference:
                        type: string
                        description: |
                          `status: Registered`
                           iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_EysE9cTGEeChad0JzLk7QA_-200588046
                           bian-reference: CurrentAccount (as Account).AccountInvolvement (as AccountOwner)
                           general-info: Reference to the account primary party/owner
                        example: "794126"
                      bankBranchLocationReference:
                        type: string
                        description: |
                          `status: Registered`
                           iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_FNqJt8TGEeChad0JzLk7QA_-1317971633/elements/_z2I6YGx5EeKmZJ0Ago--9g_239738909
                           bian-reference: CurrentAccount (as Account).AccountInvolvement (as AccountServicer). PartyRole.Party.Location
                           general-info: Bank branch associated with the account for booking purposes
                        example: "718448"
                      accountType:
                        type: string
                        description: |
                          `status: Registered`
                           iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_7CvjsPj5EeG2rK1g72xi7Q_-843966450
                           bian-reference: CurrentAccount (as Account).AccountType
                           general-info: The type of current account (e.g. checking, student, small business)
                      accountCurrency:
                        type: string
                        description: |
                          `status: Registered`
                           iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_-69C4IDWEeKn8fN1QdMTXQ_-145666344
                           bian-reference: CurrentAccount (as Account).AccountBaseCurrency
                           general-info: The primary account currency
                        example: USD
                      taxReference:
                        type: string
                        description: |
                          `status: Registered`
                           iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E4gZEcTGEeChad0JzLk7QA_2010102987/elements/__-5BiGIiEeGD28DQaMef-g
                           bian-reference: CurrentAccountAgreement (as Agreement). RuleSetAsRegulation
                           general-info: Reference identifier linking the account to appropriate tax handling
                        example: "709480"
                      entitlementOptionDefinition:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The definition of an applicable entitlement option
                      entitlementOptionSetting:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The setting for the entitlement option
                      restrictionOptionDefinition:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The definition of an applicable restriction option
                      restrictionOptionSetting:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The setting for the restriction option
                      associations:
                        type: object
                        properties:
                          associationType:
                            type: string
                            description: |
                              general-info: The type of association (e.g. guarantor, co-signer)
                          associationObligationEntitlement:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: Description of the role, obligations or entitlements of the associated party
                          associationReference:
                            type: string
                            description: |
                              `status: Registered`
                               iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E10RccTGEeChad0JzLk7QA_1392095805
                               bian-reference: CurrentAccountAgreement (as Agreement).AgreementInvolvement
                               general-info: Reference to the associated party
                            example: "716465"
                      linkedAccounts:
                        type: object
                        properties:
                          linkType:
                            type: string
                            description: |
                              `status: Registered`
                               iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_7CvjsPj5EeG2rK1g72xi7Q_-843966450
                               bian-reference: CurrentAccount (as Account).AccountType
                               general-info: The type and purpose for the link
                          accountDetails:
                            type: string
                            description: |
                              `status: Registered`
                               iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E10RcsTGEeChad0JzLk7QA_-1441245060
                               bian-reference: CurrentAccount (as Account).AccountDescription
                               general-info: Details of the linked account
                      positionLimits:
                        type: object
                        properties:
                          positionLimitType:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: The type of position maintained for the account (e.g. transaction credit/debit, netting, position)
                          positionLimitSettings:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: The position definition, associated limit settings and rules
                          positionLimitValue:
                            type: string
                            description: |
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                               general-info: The current calculated position
                      dateType:
                        type: object
                        properties:
                          date:
                            type: string
                            description: |
                              `status: Registered`
                               iso-link: https://www.iso20022.org/standardsrepository/public/wqt/Description/mx/dico/bc/_E1rHgsTGEeChad0JzLk7QA_-1068889728/elements/_E_9E5sTGEeChad0JzLk7QA_-1723898882
                               bian-reference: CurrentAccount (as Account).AccountDate
                              `status: Not Mapped`
                               core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::DateTime
                               general-info: Value of the date type
                            example: 09-22-2018
                  currentAccountFulfillmentArrangementRetrieveActionTaskReference:
                    type: string
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                       general-info: Reference to a Current Account Fulfillment Arrangement instance retrieve service call
                    example: CAFARATR748576
                  currentAccountFulfillmentArrangementRetrieveActionTaskRecord:
                    type: object
                    properties: {}
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                       general-info: The retrieve service call consolidated processing record
                  currentAccountFulfillmentArrangementRetrieveActionResponse:
                    type: string
                    description: |
                      `status: Not Mapped`
                       core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                       general-info: Details of the retrieve action service response (lists returned reports)
                  currentAccountFulfillmentArrangementInstanceReportRecord:
                    type: object
                    properties:
                      currentAccountFulfillmentArrangementInstanceReportData:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The input information used to assemble the report that can be on-going, periodic and actual and projected
                      currentAccountFulfillmentArrangementInstanceReportType:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Code
                           general-info: The type of external report available
                      currentAccountFulfillmentArrangementInstanceReport:
                        type: object
                        properties: {}
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                           general-info: The external report in any suitable form including selection filters where appropriate
                  currentAccountFulfillmentArrangementInstanceAnalysis:
                    type: object
                    properties:
                      currentAccountFulfillmentArrangementInstanceAnalysisData:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                           general-info: The inputs and results of the instance analysis that can be on-going, periodic and actual and projected
                      currentAccountFulfillmentArrangementInstanceAnalysisReportType:
                        type: string
                        description: |
                          `status: Not Mapped`
                           core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Code
                           general-info: The type of external performance analysis report available
                      currentAccountFulfillmentArrangementInstanceAnalysisReport:
                        type: object
[...]
