{{#supportPython2}}
#!/usr/bin/env python
{{/supportPython2}}
{{^supportPython2}}
#!/usr/bin/env python3
{{/supportPython2}}

import connexion
from typing import Tuple, Dict
from halo_app.app.request import HaloQueryRequest

{{#imports}}
{{import}}  # noqa: E501
{{/imports}}
from {{packageName}} import util
{{#operations}}
from halo_app.infra.sql_repository import SqlAlchemyRepository
from halo_app.infra.sql_uow import SqlAlchemyUnitOfWork

{{#operation}}
from {{packageName}}.domain.model.model import [[{{operationId}}]]

{{/operation}}

class Repository(SqlAlchemyRepository):
    #@todo fix the name of the aggregate
    def get_type(self) ->type:
        return AGGREGATEROOT


class Uow(SqlAlchemyUnitOfWork):
    def init_repository(self):
        return Repository(self.session)



{{/operations}}

