swagger-ui-bundle >= 0.0.2
python_dateutil >= 2.6.0
setuptools >= 21.0.0

# Flask Static Digest
Flask-Static-Digest==0.1.3

# Auth
Flask-Login==0.5.0
Flask-Bcrypt==0.7.1

# Caching
Flask-Caching>=1.7.2

# Debug toolbar
Flask-DebugToolbar==0.11.0

# Environment variable parsing
environs==8.0.0


######################

#logging
python-json-logger==0.1.9

# halo
halo-app==0.10.85
halo-bian==0.12.52
#halo_bian >= xx; bian_version >= "3"
#halo_bian <= xx; bian_version <= "2"
#halo-aws==0.12.1

requests==2.20.1

#aws
#boto3==1.7.16
#pynamodb==3.3.1


PyJWT==1.6.3

jsonschema==3.2.0

#six==1.11.0



redis