{{#supportPython2}}
#!/usr/bin/env python
{{/supportPython2}}
{{^supportPython2}}
#!/usr/bin/env python3
{{/supportPython2}}

import connexion
from typing import Tuple, Dict
from halo_app.app.request import HaloQueryRequest

{{#imports}}
{{import}}  # noqa: E501
{{/imports}}
from {{packageName}} import util
{{#operations}}

from halo_app.app.context import HaloContext
from halo_app.domain.entity import AbsHaloAggregateRoot, AbsHaloEntity
from halo_app.domain.event import AbsHaloDomainEvent

{{#operation}}

class [[{{operationId}}]](AbsHaloAggregateRoot,XXX):
    def __init__(self, id: str):
        super().__init__(id)
        self.events = []

{{/operation}}

{{/operations}}

