
{{#operations}}
{
{{#operation}}
    "{{packageName}}.app.services.{{classname}}Service_{{operationId}}": {
        "command": {
            "{{operationId}}": {
                "url": "",
                "type": "empty",
            }
        }
    },
{{/operation}}
}
{{/operations}}

