
{{#operations}}
{
{{#operation}}
    "{{packageName}}.app.handlers.xxx_handler.{{classname}}Handler_{{operationId}}": {
        "command": {
            "{{operationId}}": {
                "url": "",
                "type": "empty"
            }
        }
    },
{{/operation}}
}
{{/operations}}

